<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/corousel1.jpg" style="max-height:500px; margin:0 auto;" alt="stay home">
                
               
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/corousel2.jpg" style="max-height:500px; margin:0 auto;" alt="stay safe">
        <div class="carousel-caption">
                  
                 
        </div>   
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/corousel3.jpg" style="max-height:500px; margin:0 auto;" alt="keep ordering" >
        <div class="carousel-caption">
                  
                  
        </div>   
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/corousel4.jpg" style="max-height:500px; margin:0 auto;" alt="keep ordering" >
        <div class="carousel-caption">
          </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/corousel5.jpg" style="max-height:500px; margin:0 auto;" alt="keep ordering" >
            <div class="carousel-caption">
              </div>
              </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
 </div>

<div class="card text-center">
  <div class="card-header">
    EAT HEALTHY & STAY HEALTHY
        
  </div>
  <div class="card-body">
    <h5 class="card-title">Freshness delivered...</h5>
    <p class="card-text">
      Straight out of the oven to your doorstep<br>

      Best Service to fulfil your expectations.

      Let deliciousness twirl in your mouth.

      The flavours of your wish.

      An oasis of deliciousness.
    </p>
  </div>
</div>
