
<app-menu></app-menu>

<div class="card text-center" style="border:hidden;">

<div class="card-body" style=" border-radius: 0; margin: 0; padding: 0;">
  <div class="carousel-inner" style=" border-radius: 0; margin: 0; padding:0;">
    <div class="carousel-item active">
      <img src="../assets/images/titleBG.jpg" class="d-block w-100" style="max-height: 85px; margin:0 auto;" alt="...">
      <div class="carousel-caption d-none d-md-block" style="color: black">
        <br><br><h4>NOW GET ALL YOUR FOOD AT YOUR DOOR STEP !</h4>
       
      </div>
    </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
