<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class=" text-center text-white" style="background-color: gainsboro;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #fdfdff;"
          href="#!"
          role="button"
          >
          <a href="#" class="fa fa-facebook"></a>
          
          
         
        </a>
        
         
        
  
        <!-- Google -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #fdfbfb;"
          href="#!"
          role="button"
          
        >
        <a href="#" class="fa fa-google"></a>
      </a>
  
        <!-- Instagram -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #fdfcfd;"
          href="#!"
          role="button"
        >
        <a href="#" class="fa fa-instagram"></a>
      </a>
  
        
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(17, 17, 17);">
      Copyright © 2022 Developed by :
      <a class="text-white" href="https://mdbootstrap.com/">Java SL NG Group6</a>
    </div>
    <!-- Copyright -->
  </footer>