

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" (click)="brandClick()"><b>Eat@</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav" *ngIf="notAdmin">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/','home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/','order']">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/','cart']">My Cart</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" [routerLink]="['/','myorder']">My Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/','contactus']">Feedback</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li *ngIf="loggedOut"><a class="btn btn-success my-2 my-sm-0" routerLink="/signup"><span class="sr-only"></span> Sign Up</a></li>
        <li *ngIf="loggedIn"><a style="color:blanchedalmond; margin-right:15px"><span class="glyphicon glyphicon-user" ></span> {{userName}} </a></li>&nbsp;&nbsp;&nbsp;
        <li><a [routerLink]="['/',status]" class="btn btn-primary my-2 my-sm-0"><span class="sr-only"></span> {{status | titlecase}}</a></li>
      </ul>
    </div>  
  </nav>  
