<div class="container text-center">
  <h2>Check out the cuisines</h2>
  <hr />
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-1" ></div>
    <div class="col-md-3 col-sm-4">
      <form #searchForm="ngForm">
        <div class="input-group">
          <select class="form-control" id="type"
                  #filterItem="ngModel" [(ngModel)]="filter" name="filter"
                  (change)="fnFilter(filterItem.value)">
            <option value="All" selected>All</option>
            <option value="Starter">Starter</option>
            <option value="Main Course">Main Course</option>
            <option value="Dessert">Desert</option>
          </select>
          
        </div>
      </form>
    </div>
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-3 col-sm-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search"
               #searchItem="ngModel" [(ngModel)]="search" name="search">
        <button class="input-group-text" (click)="fnSearch(filterItem.value,searchItem.value)">Search</button>
      </div>
    </div>
    <div class="col-md-2 col-sm-1" ></div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-md-center" style="margin : 10px">
    <div class="col col-md-5 col-sm-12" style="display:block; margin:20px" *ngFor="let f of searchedFood">
      <span class="card" style="width: auto">
        <img class="card-img-top" [src]="f.img" alt="Card image" style="width : auto">
        <span class="card-body">
          <h4 class="card-title">{{f.dishName | titlecase}}</h4>
          <p class="card-text">{{f.description | titlecase}}</p>
          <h2 class="card-title">Price : {{f.price}}</h2>
          <input *ngIf="loggedIn" type="button" value="Add to cart" class="btn btn-warning" (click)="fnAddToCart(f)">
        </span>
      </span>
    </div>
  </div>
</div>
<div *ngIf="searchEmpty">
  <div id="main">
    <div class="fof">
      <h1>Sorry : Can't Find What You Are Looking For !!!  </h1>

      <h2>We have other great dishes available...</h2>
      <button class='btn btn-success'
              style='width:auto'
              [routerLink]="['/order']">
        Check Them Out
      </button>
    </div>
  </div>
</div>
