<form *ngIf="adding" #dishAddForm="ngForm" class="container-fluid row g-3">
  <div class="col-md-6">
    <label for="name" class="form-label" style="float:left">Name</label>
    <input id="name" type="text" class="form-control"
           name="name" #name="ngModel" [(ngModel)]="foodForms.dishName"
           [class.is-invalid]="name.touched && name.invalid"
           required minlength="3">
    <div class=" alert-danger col-12"
         *ngIf="name.errors && (name.invalid && name.touched)" role="alert" style="margin:2px; padding:5px">
      <span *ngIf="name.errors.required">Enter User ID</span>
      <span *ngIf="name.errors.minlength">Atleast 4 character long</span>
    </div>
  </div>
  <div class="col-md-4">
    <label class="visually-hidden" for="type" style="float:left">Category</label>
    <select class="form-control" id="type"
            name="type" #type="ngModel" [(ngModel)]="foodForms.type"
            [class.is-invalid]="type.touched && type.invalid"
            required>
      <option value="Starter" selected>Starter</option>
      <option value="Main Course">Main Course</option>
      <option value="Dessert">Desert</option>
    </select>
    <div class=" alert-danger col-12"
         [class.d-none]="type.valid || type.untouched" role="alert" style="margin:2px; padding:5px">
      <span>Category Required</span>
    </div>
  </div>
  <div class="col-md-2">
    <label for="price" class="form-label" style="float:left">Price</label>
    <input id="price" type="number" class="form-control"
           name="price" #price="ngModel" [(ngModel)]="foodForms.price"
           [class.is-invalid]="price.touched && price.invalid"
           required min="1">
    <div class="alert-danger col-12"
         *ngIf="price.errors && (price.invalid && price.touched)" role="alert" style="margin:2px; padding:5px">
      <span *ngIf="price.errors.required">Required</span>
      <span *ngIf="price.errors.min">Price > 0</span>
    </div>
  </div>
  <div class="col-md-12">
    <label for="description" class="form-label" style="float:left">Description</label>
    <input id="description" type="text" class="form-control"
           name="description" #description="ngModel" [(ngModel)]="foodForms.description"
           [class.is-invalid]="description.touched && description.invalid"
           required minlength="15">
    <div class=" alert-danger col-12"
         *ngIf="description.errors && (description.invalid && description.touched)" role="alert" style="margin:2px; padding:5px">
      <span *ngIf="description.errors.required">Description required</span>
      <span *ngIf="description.errors.minlength">Atleast 15 character long</span>
    </div>
  </div>
  <br>
  <div class="col-md-12" style="margin:10px;">
    <button type="submit" [disabled]="dishAddForm.invalid" class="btn btn-success" (click)="fnAdd()">Add Dish</button>&nbsp;
  </div>
  
</form>

<br>
<table class="table table-bordered table-hover col-md-12 col-sm-12" style="text-align :center">
  <thead>
    <tr>
      <th class="alert-info" colspan="6"><h4>Admin Page</h4></th>
    </tr>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th colspan="2">
      <button class="btn btn-success" (click)="fnAdding()">Add Dish</button>&nbsp;
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let f of foods">
    <tr>
      <td>{{f.dishId}}</td>
      <td>{{f.dishName}}</td>
      <td>{{f.type}}</td>
      <td>{{f.price}}</td>
      <td>
        <button class="btn btn-warning" (click)="fnModifying(f.dishId)">Modify</button>&nbsp;
      </td>
      <td>
        <button class="btn btn-danger" (click)="fnRemove(f.dishId)">Delete</button>&nbsp;
      </td>
    </tr>
    <tr *ngIf="f.modifying">
      <td colspan="6">
        <form #modify="ngForm" class="container-fluid row">
          <div class="col-md-12"><h5>Modifying : {{f.dishName}}</h5></div>
          <div class="col-md-10">
            <label for="description" class="form-label" style="float:left">Description</label>
            <input id="description" type="text" class="form-control"
                   name="description" #description="ngModel" [(ngModel)]="modifyForm.description"
                   [class.is-invalid]="description.touched && description.invalid"
                   required minlength="15">
            <div class=" alert-danger col-12"
                 *ngIf="description.errors && (description.invalid && description.touched)" role="alert" style="margin:2px; padding:5px">
              <span *ngIf="description.errors.required">Description required</span>
              <span *ngIf="description.errors.minlength">Atleast 15 character long</span>
            </div>
          </div>
            <div class="col-md-2">
              <label for="price" class="form-label" style="float:left">Price</label>
              <input id="price" type="number" class="form-control"
                     name="price" #price="ngModel" [(ngModel)]="modifyForm.price"
                     [class.is-invalid]="price.touched && price.invalid"
                     required min="1">
              <div class="alert-danger col-12"
                   *ngIf="price.errors && (price.invalid && price.touched)" role="alert" style="margin:2px; padding:5px">
                <span *ngIf="price.errors.required">Required</span>
                <span *ngIf="price.errors.min">Price > 0</span>
              </div>
            </div>
            <div class="col" style="float:right; margin:10px">
              <button class="btn btn-success" type="submit" [disabled]="modify.invalid" (click)="fnModify(f)">Confirm</button>&nbsp;
            </div>
        </form>
      </td>
    </tr>
  </tbody>
  
</table>

