<!-- <table *ngIf="customer.id==1"  class="table table-bordered table-hover table-striped"> -->
  <ng-container *ngIf = '!isShowing'>
  <div class="container-fluid">
<div class="card text-center">
    <div class="card-header">
      <h4>Your Cart</h4>
    </div>
    <div class="card-body" *ngIf="cartNotEmpty" >
      <table class="table align-middle table-bordered">
        <thead>
          <tr>
            <th>Food Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cartItems">
            <td>{{c.dishName}}</td>
            <td>{{c.quantity}}</td>
            <td>{{c.price}}</td>
            <td>
              <button class="btn btn-success" style="border-radius:0" type="button" (click)="fnAdd(c.cartId)">Add Item</button>
              <button type="button" class="btn btn-warning" style="border-radius:0" (click)="fnRemove(c.cartId)">Remove Item</button>
            </td>
            <!--<td><input type="button" value="Remove" (click)="fnRemove(c.id)"></td>-->
          </tr>
          <tr class="table-success">
            <td colspan="2">Total</td>
            <td>{{total}}</td>
            <td style=" margin:auto"><button type="button" class="btn btn-danger" (click)="fnEmptyCart()">Empty Cart</button></td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
      <button (click) = 'isShowing = !isShowing' class ="btn btn-success ">Next</button>
      
    </div>
    <div *ngIf="cartEmpty">
      <div id="main">
        <div class="fof">
          <h1>Your Cart Is Empty  </h1>
          
          <h2>Hurry UP!!! Order Something</h2>
          <button class='btn btn-success'
                  style='width:auto'
                  [routerLink]="['/order']">Go To Menu</button>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>

<ng-container *ngIf = 'isShowing'>
      <div class="row">
        <div class="col-75">
          <div class="container">
            <form class="needs-validations" novalidate>
      
              <div class="row">
                <div class="col-50">
                  <h3>Billing Address</h3>
                  <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Enter your full name">
                  <label for="email"><i class="fa fa-envelope"></i> Email</label>
                  <input type="text" id="email" name="email" placeholder="Enter your email id">
                  <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                  <input type="text" id="adr" name="address" placeholder="Enter your address">
                  <label for="city"><i class="fa fa-institution"></i> City</label>
                  <input type="text" id="city" name="city" placeholder="Enter your city">
      
                  <div class="row">
                    <div class="col-50">
                      <label for="state">State</label>
                      <input type="text" id="state" name="state" placeholder="Enter your state">
                    </div>
                    <div class="col-50">
                      <label for="zip">Zip</label>
                      <input type="text" id="zip" name="zip" placeholder="Enter your zip code">
                    </div>
                  </div>
                </div>
      
                <div class="col-50">
                  <h3>Payment</h3>
                  <label for="fname">Accepted Cards</label>
                  <div class="icon-container">
                    <i class="fa fa-cc-visa" style="color:navy;"></i> 
                    <i class="fa fa-cc-amex" style="color:blue;"></i> 
                    <i class="fa fa-cc-mastercard" style="color:red;"></i> 
                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                  </div>
                  <label for="cname">Name on Card</label>
                  <input type="text" id="cname" name="cardname" placeholder="Enter your name on card">
                  <label for="ccnum">Credit card number</label>
                  <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                  <label for="expmonth">Exp Month</label>
                  <input type="text" id="expmonth" name="expmonth" placeholder="September">
      
                  <div class="row">
                    <div class="col-50">
                      <label for="expyear">Exp Year</label>
                      <input type="text" id="expyear" name="expyear" placeholder="2018">
                    </div>
                    <div class="col-50">
                      <label for="cvv">CVV</label>
                      <input type="text" id="cvv" name="cvv" placeholder="352">
                    </div>
                  </div>
                </div>
      
              </div>
              <label>
                <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
              </label>
            </form>
          </div>
        </div>
      </div> <br>
  <div class="container1" style="align-items: center;">
  <button (click) = 'isShowing = !isShowing'  class ="btn btn-warning "> Back</button>
  <a class="btn btn-success" (click)="fnBuyNow()">Pay Now</a>
  </div>
</ng-container>
